In [1]:
import pandas as pd
from sqlalchemy import create_engine, text, inspect
import psycopg2
from datetime import datetime
import os

# Database connection
engine = create_engine('postgresql://fluuser:flupass@postgres/flu_database')

print(" Connected to database")

 Connected to database

In [2]:
# WA DOH RHINO Data
print("\n" + "=" * 60)
print("COLLECTING WA DOH RHINO DATA")
print("=" * 60)

# WA DOH RHINO downloadable data
doh_rhino_url = "https://doh.wa.gov/sites/default/files/Data/Auto-Uploads/Respiratory-Illness/Respiratory_Disease_RHINO_Downloadable_Data.csv"

# ACH to Counties mapping - MUST match official WA county names exactly
ach_to_counties = {
    "Better Health Together": ["Spokane", "Stevens", "Pend Oreille", "Ferry"],
    "Cascade Pacific Action Alliance": ["Thurston", "Mason", "Grays Harbor", "Pacific", "Lewis"],
    "Elevate Health": ["Yakima", "Kittitas"],
    "Greater Health Now": ["Spokane"],  # Urban Spokane focus - duplicate with Better Health Together
    "Healthier Here": ["King"],
    "North Sound": ["Whatcom", "Skagit", "Snohomish", "San Juan", "Island"],
    "Olympic Community of Health": ["Clallam", "Jefferson", "Kitsap"],
    "Southwest Washington": ["Clark", "Skamania", "Klickitat", "Cowlitz", "Wahkiakum"],
    "Thriving Together NCW": ["Chelan", "Douglas", "Grant", "Okanogan"]
}

# Official WA State counties for validation
wa_counties = [
    "Adams", "Asotin", "Benton", "Chelan", "Clallam", "Clark", "Columbia", "Cowlitz",
    "Douglas", "Ferry", "Franklin", "Garfield", "Grant", "Grays Harbor", "Island",
    "Jefferson", "King", "Kitsap", "Kittitas", "Klickitat", "Lewis", "Lincoln",
    "Mason", "Okanogan", "Pacific", "Pend Oreille", "Pierce", "San Juan", "Skagit",
    "Skamania", "Snohomish", "Spokane", "Stevens", "Thurston", "Wahkiakum",
    "Walla Walla", "Whatcom", "Whitman", "Yakima"
]

try:
    df_doh_rhino = pd.read_csv(doh_rhino_url)

    # Add source column
    df_doh_rhino['source'] = 'WA_DOH_RHINO'

    print(f"\n‚úì DOH RHINO data loaded: {len(df_doh_rhino)} records")
    print(f"  Original columns: {df_doh_rhino.columns.tolist()}")

    # Validate counties in mapping
    print(f"\n Validating County Mapping:")
    all_mapped_counties = set()
    for ach, counties in ach_to_counties.items():
        all_mapped_counties.update(counties)

    # Check for invalid county names
    invalid_counties = all_mapped_counties - set(wa_counties)
    if invalid_counties:
        print(f"     WARNING: Invalid county names found: {invalid_counties}")

    # Check for unmapped counties
    unmapped_counties = set(wa_counties) - all_mapped_counties
    if unmapped_counties:
        print(f"     WARNING: Counties not in any ACH: {sorted(unmapped_counties)}")
        print(f"      ({len(unmapped_counties)} counties: likely Pierce, Adams, Asotin, Benton, Columbia, Franklin, Garfield, Lincoln, Walla Walla, Whitman)")

    print(f"   ‚úì {len(all_mapped_counties)} counties mapped across {len(ach_to_counties)} ACH regions")

    # Remove Statewide and Unassigned records before exploding
    original_count = len(df_doh_rhino)
    df_doh_rhino = df_doh_rhino[
        ~df_doh_rhino['Location'].isin(['Statewide', 'Unassigned ACH Region'])
    ].copy()
    removed_count = original_count - len(df_doh_rhino)
    print(f"\nüóëÔ∏è  Removed {removed_count} Statewide/Unassigned records")
    print(f"   Remaining: {len(df_doh_rhino)} ACH region records")

    # Map ACH to counties and explode
    df_doh_rhino['county_list'] = df_doh_rhino['Location'].map(ach_to_counties)

    # Explode: create one row per county
    df_doh_rhino_exploded = df_doh_rhino.explode('county_list').reset_index(drop=True)

    # Rename county_list to county for clarity
    df_doh_rhino_exploded.rename(columns={'county_list': 'county'}, inplace=True)

    print(f"\n After County Explosion:")
    print(f"   - Original ACH records: {len(df_doh_rhino)}")
    print(f"   - Exploded county records: {len(df_doh_rhino_exploded)}")
    print(f"   - Expansion factor: {len(df_doh_rhino_exploded) / len(df_doh_rhino):.2f}x")

    # Verify unique counties
    unique_counties = df_doh_rhino_exploded['county'].unique()
    print(f"\n   Unique counties in data: {len(unique_counties)}")
    print(f"   Counties: {sorted(unique_counties)}")

    # Show county record counts
    print(f"\n Records per County:")
    county_counts = df_doh_rhino_exploded['county'].value_counts().sort_index()
    for county, count in county_counts.items():
        # Show which ACH regions include this county
        achs = [ach for ach, counties in ach_to_counties.items() if county in counties]
        ach_str = ", ".join(achs)
        print(f"   - {county}: {count:,} records (ACH: {ach_str})")

    # Date range
    print(f"\n Date Range:")
    print(f"   - From: {df_doh_rhino_exploded['Week Start'].min()}")
    print(f"   - To: {df_doh_rhino_exploded['Week End'].max()}")

    # Clean up the percentage data
    def clean_percentage(value):
        """Convert empty strings to NaN, keep numeric values"""
        if pd.isna(value):
            return None
        if isinstance(value, str):
            if value.strip() == '':
                return None
        try:
            return float(value)
        except:
            return None

    df_doh_rhino_exploded['1-Week Percent_cleaned'] = df_doh_rhino_exploded['1-Week Percent '].apply(clean_percentage)

    # Show data dimensions
    print(f"\n Data Dimensions:")
    print(f"   - Seasons: {df_doh_rhino_exploded['Season'].nunique()}")
    print(f"   - Counties: {df_doh_rhino_exploded['county'].nunique()}")
    print(f"   - Respiratory Illnesses: {', '.join(df_doh_rhino_exploded['Respiratory Illness Category'].unique())}")
    print(f"   - Care Types: {', '.join(df_doh_rhino_exploded['Care Type'].unique())}")
    print(f"   - Demographic Categories: {', '.join(df_doh_rhino_exploded['Demographic Category'].unique())}")

    # Example: Latest flu data by county
    latest_week = df_doh_rhino_exploded['Week End'].max()
    latest_flu_hosp = df_doh_rhino_exploded[
        (df_doh_rhino_exploded['Week End'] == latest_week) &
        (df_doh_rhino_exploded['Respiratory Illness Category'] == 'Flu') &
        (df_doh_rhino_exploded['Care Type'] == 'Hospitalizations') &
        (df_doh_rhino_exploded['Demographic Category'] == 'Overall')
    ].copy()

    if len(latest_flu_hosp) > 0:
        print(f"\n Latest Flu Hospitalizations by County ({latest_week}):")
        latest_flu_hosp_sorted = latest_flu_hosp.sort_values('1-Week Percent_cleaned', ascending=False)
        for _, row in latest_flu_hosp_sorted.head(10).iterrows():
            pct = row['1-Week Percent_cleaned']
            if pd.notna(pct):
                print(f"   - {row['county']}: {pct}% (from {row['Location']})")

    # Data quality
    total_rows = len(df_doh_rhino_exploded)
    data_rows = df_doh_rhino_exploded['1-Week Percent_cleaned'].notna().sum()
    empty_rows = total_rows - data_rows

    print(f"\n Data Quality:")
    print(f"   - Total records: {total_rows:,}")
    print(f"   - Records with data: {data_rows:,} ({data_rows/total_rows*100:.1f}%)")
    print(f"   - Empty/suppressed: {empty_rows:,} ({empty_rows/total_rows*100:.1f}%)")

    # Save
    output_path = '/app/data/raw/wa_doh_rhino.csv'
    df_doh_rhino_exploded.to_csv(output_path, index=False)
    print(f"\n Saved to: {output_path}")

    print("\nüìã Sample records (showing county-level data):")
    sample_cols = ['county', 'Location', 'Week Start', 'Week End', 'Respiratory Illness Category', 'Care Type', '1-Week Percent_cleaned']
    print(df_doh_rhino_exploded[sample_cols].head(20).to_string(index=False))

except Exception as e:
    print(f" Error: {e}")
    import traceback
    traceback.print_exc()

============================================================
COLLECTING WA DOH RHINO DATA
============================================================

‚úì DOH RHINO data loaded: 7896 records
  Original columns: ['Season', 'Week Start', 'Week End', 'Week', 'Location', 'Respiratory Illness Category', 'Demographic Category', 'Demographic', 'Care Type', '1-Week Percent ', 'dtm_updated', 'source']

 Validating County Mapping:
     WARNING: Counties not in any ACH: ['Adams', 'Asotin', 'Benton', 'Columbia', 'Franklin', 'Garfield', 'Lincoln', 'Pierce', 'Walla Walla', 'Whitman']
      (10 counties: likely Pierce, Adams, Asotin, Benton, Columbia, Franklin, Garfield, Lincoln, Walla Walla, Whitman)
   ‚úì 29 counties mapped across 9 ACH regions

üóëÔ∏è  Removed 2064 Statewide/Unassigned records
   Remaining: 5832 ACH region records

 After County Explosion:
   - Original ACH records: 5832
   - Exploded county records: 19440
   - Expansion factor: 3.33x

   Unique counties in data: 29
   Counties: ['Chelan', 'Clallam', 'Clark', 'Cowlitz', 'Douglas', 'Ferry', 'Grant', 'Grays Harbor', 'Island', 'Jefferson', 'King', 'Kitsap', 'Kittitas', 'Klickitat', 'Lewis', 'Mason', 'Okanogan', 'Pacific', 'Pend Oreille', 'San Juan', 'Skagit', 'Skamania', 'Snohomish', 'Spokane', 'Stevens', 'Thurston', 'Wahkiakum', 'Whatcom', 'Yakima']

 Records per County:
   - Chelan: 648 records (ACH: Thriving Together NCW)
   - Clallam: 648 records (ACH: Olympic Community of Health)
   - Clark: 648 records (ACH: Southwest Washington)
   - Cowlitz: 648 records (ACH: Southwest Washington)
   - Douglas: 648 records (ACH: Thriving Together NCW)
   - Ferry: 648 records (ACH: Better Health Together)
   - Grant: 648 records (ACH: Thriving Together NCW)
   - Grays Harbor: 648 records (ACH: Cascade Pacific Action Alliance)
   - Island: 648 records (ACH: North Sound)
   - Jefferson: 648 records (ACH: Olympic Community of Health)
   - King: 648 records (ACH: Healthier Here)
   - Kitsap: 648 records (ACH: Olympic Community of Health)
   - Kittitas: 648 records (ACH: Elevate Health)
   - Klickitat: 648 records (ACH: Southwest Washington)
   - Lewis: 648 records (ACH: Cascade Pacific Action Alliance)
   - Mason: 648 records (ACH: Cascade Pacific Action Alliance)
   - Okanogan: 648 records (ACH: Thriving Together NCW)
   - Pacific: 648 records (ACH: Cascade Pacific Action Alliance)
   - Pend Oreille: 648 records (ACH: Better Health Together)
   - San Juan: 648 records (ACH: North Sound)
   - Skagit: 648 records (ACH: North Sound)
   - Skamania: 648 records (ACH: Southwest Washington)
   - Snohomish: 648 records (ACH: North Sound)
   - Spokane: 1,296 records (ACH: Better Health Together, Greater Health Now)
   - Stevens: 648 records (ACH: Better Health Together)
   - Thurston: 648 records (ACH: Cascade Pacific Action Alliance)
   - Wahkiakum: 648 records (ACH: Southwest Washington)
   - Whatcom: 648 records (ACH: North Sound)
   - Yakima: 648 records (ACH: Elevate Health)

 Date Range:
   - From: 2023-10-01
   - To: 2025-10-25

 Data Dimensions:
   - Seasons: 3
   - Counties: 29
   - Respiratory Illnesses: COVID-19, Flu, RSV
   - Care Types: Hospitalizations, Emergency Visits
   - Demographic Categories: Overall

 Latest Flu Hospitalizations by County (2025-10-25):
   - Jefferson: 0.6% (from Olympic Community of Health)
   - Kitsap: 0.6% (from Olympic Community of Health)
   - Clallam: 0.6% (from Olympic Community of Health)
   - Pacific: 0.2% (from Cascade Pacific Action Alliance)
   - Stevens: 0.2% (from Better Health Together)
   - King: 0.2% (from Healthier Here)
   - Lewis: 0.2% (from Cascade Pacific Action Alliance)
   - Spokane: 0.2% (from Better Health Together)
   - Grays Harbor: 0.2% (from Cascade Pacific Action Alliance)
   - Mason: 0.2% (from Cascade Pacific Action Alliance)

 Data Quality:
   - Total records: 19,440
   - Records with data: 19,440 (100.0%)
   - Empty/suppressed: 0 (0.0%)
 Error: Cannot save file into a non-existent directory: '/app/data/raw'

Traceback (most recent call last):
  File "/tmp/ipykernel_3348/4009952149.py", line 154, in <module>
    df_doh_rhino_exploded.to_csv(output_path, index=False)
  File "/usr/local/lib/python3.11/site-packages/pandas/core/generic.py", line 3902, in to_csv
    return DataFrameRenderer(formatter).to_csv(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/pandas/io/formats/format.py", line 1152, in to_csv
    csv_formatter.save()
  File "/usr/local/lib/python3.11/site-packages/pandas/io/formats/csvs.py", line 247, in save
    with get_handle(
         ^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/pandas/io/common.py", line 739, in get_handle
    check_parent_directory(str(handle))
  File "/usr/local/lib/python3.11/site-packages/pandas/io/common.py", line 604, in check_parent_directory
    raise OSError(rf"Cannot save file into a non-existent directory: '{parent}'")
OSError: Cannot save file into a non-existent directory: '/app/data/raw'

In [3]:
## Collect census
print("=" * 60)
print("COLLECTING CENSUS DATA")
print("=" * 60)

# Download census data
census_url = "https://data.wa.gov/api/views/e6ip-wkqq/rows.csv?accessType=DOWNLOAD"

try:
    df_census = pd.read_csv(census_url)

    print(f"\n Census data loaded: {len(df_census)} counties")
    print(f" Columns: {df_census.columns.tolist()}")

    # Check for missing values in 2020 data
    missing_2020 = df_census['Population Density 2020'].isna().sum()
    print(f"\n Missing 2020 density values: {missing_2020}")

    # Show summary statistics
    print("\n 2020 Population Density Statistics:")
    print(df_census['Population Density 2020'].describe())

    # Show top 5 most dense counties
    print("\n Top 5 Most Dense Counties (2020):")
    top_counties = df_census.nlargest(5, 'Population Density 2020')[['County Name', 'Population Density 2020']]
    print(top_counties.to_string(index=False))

    # Save to raw data
    output_path = '/app/data/raw/wa_population_density.csv'
    df_census.to_csv(output_path, index=False)
    print(f"\n Saved to: {output_path}")

    print("\nFirst 5 rows:")
    print(df_census.head())

except Exception as e:
    print(f" Error: {e}")
    import traceback
    traceback.print_exc()

============================================================
COLLECTING CENSUS DATA
============================================================

 Census data loaded: 39 counties
 Columns: ['County Name', 'Population Density 1900', 'Population Density 1910', 'Population Density 1920', 'Population Density 1930', 'Population Density 1940', 'Population Density 1950', 'Population Density 1960', 'Population Density 1970', 'Population Density 1980', 'Population Density 1990', 'Population Density 2000', 'Population Density 2010', 'Population Density 2020']

 Missing 2020 density values: 0

 2020 Population Density Statistics:
count      39.000000
mean      149.612821
std       250.371017
min         3.220000
25%        17.550000
50%        36.990000
75%       104.950000
max      1073.020000
Name: Population Density 2020, dtype: float64

 Top 5 Most Dense Counties (2020):
County Name  Population Density 2020
       King                  1073.02
      Clark                   800.82
     Kitsap                   697.57
     Pierce                   551.81
     Island                   416.63
 Error: Cannot save file into a non-existent directory: '/app/data/raw'

Traceback (most recent call last):
  File "/tmp/ipykernel_3348/807216807.py", line 30, in <module>
    df_census.to_csv(output_path, index=False)
  File "/usr/local/lib/python3.11/site-packages/pandas/core/generic.py", line 3902, in to_csv
    return DataFrameRenderer(formatter).to_csv(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/pandas/io/formats/format.py", line 1152, in to_csv
    csv_formatter.save()
  File "/usr/local/lib/python3.11/site-packages/pandas/io/formats/csvs.py", line 247, in save
    with get_handle(
         ^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/pandas/io/common.py", line 739, in get_handle
    check_parent_directory(str(handle))
  File "/usr/local/lib/python3.11/site-packages/pandas/io/common.py", line 604, in check_parent_directory
    raise OSError(rf"Cannot save file into a non-existent directory: '{parent}'")
OSError: Cannot save file into a non-existent directory: '/app/data/raw'

In [4]:
##CDC Flu

import requests
print("\n" + "=" * 60)
print("COLLECTING CDC FLUVIEW DATA")
print("=" * 60)

# API endpoint
api_url = "https://api.delphi.cmu.edu/epidata/fluview/"

# Parameters - Get data from 2020 onwards
params = {
    'regions': 'wa',
    'epiweeks': '202001-202452'  # 2020 through 2024
}

try:
    # Make API request
    response = requests.get(api_url, params=params)
    data = response.json()

    # Check if successful
    if data['result'] == 1:
        df_fluview = pd.DataFrame(data['epidata'])

        print(f"\n FluView data loaded: {len(df_fluview)} weeks")
        print(f" Date range: {df_fluview['epiweek'].min()} to {df_fluview['epiweek'].max()}")

        # Show key columns
        print(f"\n Key columns:")
        key_cols = ['region', 'epiweek', 'num_ili', 'num_patients', 'wili']
        print(f"   {key_cols}")

        # Summary statistics
        print("\n ILI Statistics:")
        print(f"   - Average ILI cases per week: {df_fluview['num_ili'].mean():.0f}")
        print(f"   - Max ILI cases in a week: {df_fluview['num_ili'].max()}")
        print(f"   - Average % ILI: {df_fluview['wili'].mean():.2f}%")
        print(f"   - Max % ILI: {df_fluview['wili'].max():.2f}%")

        # Show weeks with highest ILI
        print("\n Top 5 Weeks by ILI Percentage:")
        top_ili = df_fluview.nlargest(5, 'wili')[['epiweek', 'num_ili', 'num_patients', 'wili']]
        print(top_ili.to_string(index=False))

        # Save to raw data
        output_path = '/app/data/raw/wa_fluview_data.csv'
        df_fluview.to_csv(output_path, index=False)
        print(f"\n Saved to: {output_path}")

        print("\nFirst 5 rows:")
        print(df_fluview.head())

    else:
        print(f" API Error: {data.get('message', 'Unknown error')}")

except Exception as e:
    print(f" Error: {e}")
    import traceback
    traceback.print_exc()

============================================================
COLLECTING CDC FLUVIEW DATA
============================================================

 FluView data loaded: 261 weeks
 Date range: 202001 to 202452

 Key columns:
   ['region', 'epiweek', 'num_ili', 'num_patients', 'wili']

 ILI Statistics:
   - Average ILI cases per week: 772
   - Max ILI cases in a week: 6043
   - Average % ILI: 1.72%
   - Max % ILI: 12.93%

 Top 5 Weeks by ILI Percentage:
 epiweek  num_ili  num_patients     wili
  202247     5945         45967 12.93320
  202248     6043         51505 11.73280
  202249     5284         49549 10.66420
  202250     4365         48328  9.03203
  202246     3563         47539  7.49490
 Error: Cannot save file into a non-existent directory: '/app/data/raw'

Traceback (most recent call last):
  File "/tmp/ipykernel_3348/4098532632.py", line 48, in <module>
    df_fluview.to_csv(output_path, index=False)
  File "/usr/local/lib/python3.11/site-packages/pandas/core/generic.py", line 3902, in to_csv
    return DataFrameRenderer(formatter).to_csv(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/pandas/io/formats/format.py", line 1152, in to_csv
    csv_formatter.save()
  File "/usr/local/lib/python3.11/site-packages/pandas/io/formats/csvs.py", line 247, in save
    with get_handle(
         ^^^^^^^^^^^
  File "/usr/local/lib/python3.11/site-packages/pandas/io/common.py", line 739, in get_handle
    check_parent_directory(str(handle))
  File "/usr/local/lib/python3.11/site-packages/pandas/io/common.py", line 604, in check_parent_directory
    raise OSError(rf"Cannot save file into a non-existent directory: '{parent}'")
OSError: Cannot save file into a non-existent directory: '/app/data/raw'

 ## Clean Data and Create Additional Fields

### Check Datasets

In [5]:
# FluView
df_fluview.head()

,release_date,region,issue,epiweek,lag,num_ili,num_patients,num_providers,num_age_0,num_age_1,num_age_2,num_age_3,num_age_4,num_age_5,wili,ili
0,2021-10-08,wa,202139,202001,91,1449,20298,55,None,None,None,None,None,None,7.13863,7.13863
1,2021-10-08,wa,202139,202002,90,1075,22028,55,None,None,None,None,None,None,4.88015,4.88015
2,2021-10-08,wa,202139,202003,89,853,20215,54,None,None,None,None,None,None,4.21964,4.21964
3,2021-10-08,wa,202139,202004,88,966,21871,54,None,None,None,None,None,None,4.41681,4.41681
4,2021-10-08,wa,202139,202005,87,1044,22260,55,None,None,None,None,None,None,4.69003,4.69003

In [6]:
#Rhino Exploded
df_doh_rhino_exploded.head()

,Season,Week Start,Week End,Week,Location,Respiratory Illness Category,Demographic Category,Demographic,Care Type,1-Week Percent,dtm_updated,source,county,1-Week Percent_cleaned
0,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Hospitalizations,3.8,2025-10-28 15:15:32.795801,WA_DOH_RHINO,Spokane,3.8
1,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Hospitalizations,3.8,2025-10-28 15:15:32.795801,WA_DOH_RHINO,Stevens,3.8
2,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Hospitalizations,3.8,2025-10-28 15:15:32.795801,WA_DOH_RHINO,Pend Oreille,3.8
3,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Hospitalizations,3.8,2025-10-28 15:15:32.795801,WA_DOH_RHINO,Ferry,3.8
4,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Emergency Visits,2.7,2025-10-28 15:15:32.795801,WA_DOH_RHINO,Spokane,2.7

In [7]:
# Rhino
df_doh_rhino.head()

,Season,Week Start,Week End,Week,Location,Respiratory Illness Category,Demographic Category,Demographic,Care Type,1-Week Percent,dtm_updated,source,county_list
0,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Hospitalizations,3.8,2025-10-28 15:15:32.795801,WA_DOH_RHINO,"[Spokane, Stevens, Pend Oreille, Ferry]"
1,2023-2024,2023-10-01,2023-10-07,40,Better Health Together,COVID-19,Overall,All,Emergency Visits,2.7,2025-10-28 15:15:32.795801,WA_DOH_RHINO,"[Spokane, Stevens, Pend Oreille, Ferry]"
2,2023-2024,2023-10-01,2023-10-07,40,Cascade Pacific Action Alliance,COVID-19,Overall,All,Hospitalizations,3.8,2025-10-28 15:15:32.795801,WA_DOH_RHINO,"[Thurston, Mason, Grays Harbor, Pacific, Lewis]"
3,2023-2024,2023-10-01,2023-10-07,40,Cascade Pacific Action Alliance,COVID-19,Overall,All,Emergency Visits,2.5,2025-10-28 15:15:32.795801,WA_DOH_RHINO,"[Thurston, Mason, Grays Harbor, Pacific, Lewis]"
4,2023-2024,2023-10-01,2023-10-07,40,Elevate Health,COVID-19,Overall,All,Hospitalizations,2.3,2025-10-28 15:15:32.795801,WA_DOH_RHINO,"[Yakima, Kittitas]"

In [29]:
# Census
df_census.head()

,County Name,Population Density 1900,Population Density 1910,Population Density 1920,Population Density 1930,Population Density 1940,Population Density 1950,Population Density 1960,Population Density 1970,Population Density 1980,Population Density 1990,Population Density 2000,Population Density 2010,Population Density 2020
0,Adams,2.51,5.67,5.00,4.01,3.23,3.42,5.16,6.24,6.89,7.07,8.53,9.73,10.71
1,Asotin,5.29,9.17,10.28,12.79,13.15,17.11,20.30,21.70,26.46,27.69,32.35,33.99,35.04
2,Benton,NaN,4.66,6.40,6.43,7.08,30.16,36.45,39.66,64.26,66.09,83.66,103.02,121.68
3,Chelan,1.35,5.17,7.16,10.83,11.78,13.45,13.95,14.15,15.42,17.88,22.80,24.81,27.09
4,Clallam,3.21,3.87,6.51,11.72,12.52,15.12,17.20,19.92,29.59,32.20,36.90,41.08,44.37

### Create DataFrames from above to correspond to tables

In [ ]:
# Create Table 1 DF -----------------------------------------------------------------------------------

# Set up unique county names
df_county_region = df_census[['County Name', 'Population Density 2020']].drop_duplicates().sort_values(by='County Name', ascending=True).reset_index(drop=True)

# Add ACH region based on county
df_county_region = pd.merge(df_county_region, df_doh_rhino_exploded[['county', 'Location']].drop_duplicates(), left_on='County Name', right_on='county', how='left')

# Combine Spokane ACH regions
df_county_region = (df_county_region.groupby(["County Name", "Population Density 2020"], dropna=False)["Location"].apply(lambda x: ", ".join(sorted(x.dropna().unique()))).reset_index())
df_county_region['Location'].replace(r'^\s*$', 'Unassigned', regex = True, inplace=True)

# Add in county_id 
df_county_region['county_id'] = df_county_region.index + 1

# Rename columns
df_county_region.rename(columns={'County Name': 'county_name', 'Location': 'ach_region', 'Population Density 2020': 'population_density_2020'}, inplace=True)

# Reorder columns
df_county_region = df_county_region[['county_id', 'county_name', 'ach_region', 'population_density_2020']]

# Create Table 2 DF -------------------------------------------------------------------------------------

# Create rhino epiweek_id column
df_doh_rhino_exploded['epiweek_id'] = df_doh_rhino_exploded['Week End'].str[:4] + df_doh_rhino_exploded['Week'].astype(str).str.zfill(2)

df_temporal = df_doh_rhino_exploded[['epiweek_id', 'Week Start', 'Week End', 'Season']].drop_duplicates().reset_index(drop=True)
df_temporal = df_temporal.sort_values(by=['epiweek_id'], ascending=True).reset_index(drop=True)

# Convert Datatypes (Later...)
df_temporal['epiweek_id'] = df_temporal['epiweek_id'].astype(int)
df_temporal['Week Start'] = pd.to_datetime(df_temporal['Week Start'])
df_temporal['Week End'] = pd.to_datetime(df_temporal['Week End'])

# Rename Columns
df_temporal.rename(columns={'Week Start': 'week_start', 'Week End': 'week_end', 'Season': 'season'}, inplace=True)

# Create Table 3 DF ---------------------------------------------------------------------------------------

df_illness = df_doh_rhino_exploded[['epiweek_id', 'county', 'Respiratory Illness Category', 'Care Type', '1-Week Percent_cleaned']].copy()

# Add in county_id by merging with county_region DF
df_illness = pd.merge(df_illness, df_county_region[['county_id', 'county_name']], left_on='county', right_on='county_name', how='left')
df_illness.drop(columns=['county', 'county_name'], inplace=True)

# Add in state_ili_percent from fluview
df_illness['epiweek_id'] = df_illness['epiweek_id'].astype(int)
df_illness = pd.merge(df_illness, df_fluview[['epiweek', 'wili']], left_on='epiweek_id', right_on='epiweek', how='left')
df_illness.rename(columns={'wili': 'state_ili_percent'}, inplace=True)
df_illness.drop(columns=['epiweek'], inplace=True)
df_illness.drop_duplicates(subset=['epiweek_id', 'county_id', 'Respiratory Illness Category', 'Care Type'], inplace=True)

# Create Difference Column
df_illness['deviation_from_state_average'] = df_illness['1-Week Percent_cleaned'] - df_illness['state_ili_percent']

# Rename Columns
df_illness.rename(columns={'Respiratory Illness Category': 'respiratory_illness_type',
                            'Care Type': 'care_type',
                            '1-Week Percent_cleaned': 'county_ili_percent'}, inplace=True)

# Reorder Columns
df_illness = df_illness[['epiweek_id', 'county_id', 'respiratory_illness_type', 'care_type', 'county_ili_percent', 'state_ili_percent', 'deviation_from_state_average']]


# Create Table 4 DF-------------------------------------------------------------------------------------

df_healthcare = df_county_region[['county_id', 'county_name', 'population_density_2020']].copy()
df_healthcare = pd.merge(df_healthcare, df_doh_rhino_exploded[['county', 'Respiratory Illness Category', 'Care Type', '1-Week Percent_cleaned']].drop_duplicates(), left_on='county_name', right_on='county', how='left')

# Add in and calculated generics rates
df_healthcare['rates'] = df_healthcare.groupby(['county_id', 'Care Type'])['1-Week Percent_cleaned'].transform('mean')

# Drop Extra Columns
df_healthcare.drop(columns=['county', '1-Week Percent_cleaned', 'county_name', 'Respiratory Illness Category'], inplace=True)

# Combine by groups
df_healthcare = df_healthcare.drop_duplicates().reset_index(drop=True)

# Separate by Care Type
df_healthcare['hospitalization_percent'] = df_healthcare.apply(lambda row: row['rates'] if row['Care Type'] == 'Hospitalizations' else None, axis=1)
df_healthcare['er_visit_percent'] = df_healthcare.apply(lambda row: row['rates'] if row['Care Type'] == 'Emergency Visits' else None, axis=1)

# Consolidate and drop extras
df_healthcare.drop(columns=['Care Type', 'rates'], inplace=True)
df_healthcare = df_healthcare.groupby(['county_id', 'population_density_2020'], as_index=False).agg('first')

# Calculate Ratio
df_healthcare['hospital_to_er_ratio'] = df_healthcare['hospitalization_percent'] / df_healthcare['er_visit_percent']

# Fill NaN
df_healthcare.fillna(0, inplace=True)


# Create Table 5 DF-------------------------------------------------------------------------------------


# Starting Point
df_historics = df_fluview[['epiweek','wili']].copy()

# Create year and decade_year
df_historics['year'] = df_historics['epiweek'].astype(str).str[:4].astype(int)
df_historics['decade_year'] = (df_historics['year'] // 10) * 10

# Find Peak wili and epiweek id
df_historics['peak_ili_percent'] = df_historics.groupby('year')['wili'].transform('max')
df_historics['peak_week_id'] = df_historics.groupby('year')['wili'].transform(lambda x: df_historics.loc[x.idxmax(), 'epiweek'])

# Find yearly average
df_historics['average_wili_percent'] = df_historics.groupby('year')['wili'].transform('mean')

# Find peak vs average difference
df_historics['peak_vs_avg_diff'] = df_historics['peak_ili_percent'] - df_historics['average_wili_percent']

# Skip population density 

# Reorder columns
df_historics = df_historics[['year', 'decade_year', 'peak_week_id', 'peak_ili_percent', 'average_wili_percent', 'peak_vs_avg_diff']].drop_duplicates().reset_index(drop=True)

In [10]:
# Check all DFs for accuracy
#df_county_region.head(60)
#df_illness.head(60)
#df_temporal.head(60)
#df_healthcare.head(60)
#df_historics.head(60)

### Convert all DFs to CSV for SQL Ingest

In [11]:
#os.getcwd()

temporal_path = '/app/processed_files/temporal.csv'
illness_path = '/app/processed_files/illness.csv'
healthcare_path = '/app/processed_files/healthcare.csv'
historic_path = '/app/processed_files/historic_flu.csv'
county_region_path = '/app/processed_files/county_region.csv'

# Export all DFs to CSV for SQL Ingest
df_temporal.to_csv('/app/processed_files/temporal.csv', index=False)
df_illness.to_csv('/app/processed_files/illness.csv', index=False)
df_healthcare.to_csv('/app/processed_files/healthcare.csv', index=False)
df_historics.to_csv('/app/processed_files/historic_flu.csv', index=False)
df_county_region.to_csv('/app/processed_files/county_region.csv', index=False)

## Create PostgreSQL Tables

### Open Connection

In [12]:
# Connect to PostgreSQL DB (Using psycopg2)
conn = psycopg2.connect(
    dbname='flu_database',
    user='fluuser',
    password='flupass',
    host='postgres',
    port='5432'
)

print(" Connected to PostgreSQL database")

 Connected to PostgreSQL database

### Create Tables and Schema

In [ ]:
# Rollback previous transactions (Good for troubleshooting)
#conn.rollback()

# Create a cursor object
cur = conn.cursor()

# Create Schema
cur.execute("CREATE SCHEMA IF NOT EXISTS flu_schema;")

# Create Table 1 (County/Region Reference)
cur.execute("DROP TABLE IF EXISTS flu_schema.county_region;")
cur.execute("""CREATE TABLE county_region (
                county_id INT PRIMARY KEY, 
                county_name TEXT,
                ach_region TEXT,
                population_density_202 FLOAT
                );"""
            )
print(" Table 1 created")

# Create Table 2 (Temporal Reference)
cur.execute("DROP TABLE IF EXISTS flu_schema.temporal;")
cur.execute("""CREATE TABLE temporal (
                epiweek_id INT PRIMARY KEY, 
                week_start DATE,
                week_end DATE,
                season TEXT
                );"""
            )
print(" Table 2 created")


# Create Table 3 (County/Weekly Illness Comparison)
cur.execute("DROP TABLE IF EXISTS flu_schema.illness;")
cur.execute("""CREATE TABLE illness (
                epiweek_id INT,
                FOREIGN KEY (epiweek_id) REFERENCES temporal(epiweek_id),
                county_id INT,
                FOREIGN KEY (county_id) REFERENCES county_region(county_id),
                respiratory_illness_type TEXT,
                care_type TEXT,
                PRIMARY KEY (epiweek_id, county_id, respiratory_illness_type, care_type),
                county_ili_percent FLOAT,
                state_ili_percent FLOAT, 
                deviation_from_state_average FLOAT
                );"""
            )
print(" Table 3 created")


# Create Table 4 (Healthcare Utilization)
cur.execute("DROP TABLE IF EXISTS flu_schema.healthcare;")
cur.execute("""CREATE TABLE healthcare (
                county_id INT PRIMARY KEY,
                population_density_2020 FLOAT,
                hospitalization_percent FLOAT,
                er_visit_percent FLOAT,
                hospital_to_er_ratio FLOAT,
                FOREIGN KEY (county_id) REFERENCES county_region(county_id)
                );"""
            )
print(" Table 4 created")


# Create Table 5 (Historical Flue Season Summary)
cur.execute("DROP TABLE IF EXISTS flu_schema.historics;")
cur.execute("""CREATE TABLE historics (
                year INT PRIMARY KEY,
                decade_year INT,
                peak_week_id INT,
                peak_ili_percent FLOAT,
                average_wili_percent FLOAT,
                peak_vs_avg_diff FLOAT
                );"""
            )
print(" Table 5 created")

print(" All Tables created in PostgreSQL database")

 Table 1 created
 Table 2 created
 Table 3 created
 Table 4 created
 Table 5 created
 All Tables created in PostgreSQL database

### Add changes from .csvs

In [22]:
#Rollback 
#conn.rollback()

# Country Region Ingest
with open(county_region_path, 'r') as f:
    sql = """
        COPY county_region
        FROM STDIN
        WITH (FORMAT CSV, HEADER TRUE)
    """
    cur.copy_expert(sql, f)

print(" Table 1 data ingested")

# Temporal Ingest
with open(temporal_path, 'r') as f:
    sql = """
        COPY temporal
        FROM STDIN
        WITH (FORMAT CSV, HEADER TRUE)
    """
    cur.copy_expert(sql, f)

print(" Table 2 data ingested")

# Illness Ingest
with open(illness_path, 'r') as f:
    sql = """
        COPY illness
        FROM STDIN
        WITH (FORMAT CSV, HEADER TRUE)
    """
    cur.copy_expert(sql, f)

print(" Table 3 data ingested")

# Healthcare Ingest
with open(healthcare_path, 'r') as f:
    sql = """
        COPY healthcare
        FROM STDIN
        WITH (FORMAT CSV, HEADER TRUE)
    """
    cur.copy_expert(sql, f)

print(" Table 4 data ingested")

# Historics Ingest
with open(historic_path, 'r') as f:
    sql = """
        COPY historics
        FROM STDIN
        WITH (FORMAT CSV, HEADER TRUE)
    """
    cur.copy_expert(sql, f)

print(" Table 5 data ingested")

 Table 1 data ingested
 Table 2 data ingested
 Table 3 data ingested
 Table 4 data ingested
 Table 5 data ingested

### Test Queries

In [23]:
# Test Queries
# Table 1
cur.execute("SELECT * FROM county_region;")
rows = cur.fetchall()
print("Rows:")
for row in rows:
    print(row)

Rows:
(1, 'Adams', 'Unassigned', 10.71)
(2, 'Asotin', 'Unassigned', 35.04)
(3, 'Benton', 'Unassigned', 121.68)
(4, 'Chelan', 'Thriving Together NCW', 27.09)
(5, 'Clallam', 'Olympic Community of Health', 44.37)
(6, 'Clark', 'Southwest Washington', 800.82)
(7, 'Columbia', 'Unassigned', 4.55)
(8, 'Cowlitz', 'Southwest Washington', 97.03)
(9, 'Douglas', 'Thriving Together NCW', 23.6)
(10, 'Ferry', 'Better Health Together', 3.26)
(11, 'Franklin', 'Unassigned', 77.92)
(12, 'Garfield', 'Unassigned', 3.22)
(13, 'Grant', 'Thriving Together NCW', 36.99)
(14, 'Grays Harbor', 'Cascade Pacific Action Alliance', 39.78)
(15, 'Island', 'North Sound', 416.63)
(16, 'Jefferson', 'Olympic Community of Health', 18.28)
(17, 'King', 'Healthier Here', 1073.02)
(18, 'Kitsap', 'Olympic Community of Health', 697.57)
(19, 'Kittitas', 'Elevate Health', 20.23)
(20, 'Klickitat', 'Southwest Washington', 12.15)
(21, 'Lewis', 'Cascade Pacific Action Alliance', 34.19)
(22, 'Lincoln', 'Unassigned', 4.71)
(23, 'Mason', 'Cascade Pacific Action Alliance', 68.5)
(24, 'Okanogan', 'Thriving Together NCW', 8.0)
(25, 'Pacific', 'Cascade Pacific Action Alliance', 25.03)
(26, 'Pend Oreille', 'Better Health Together', 9.57)
(27, 'Pierce', 'Unassigned', 551.81)
(28, 'San Juan', 'North Sound', 102.28)
(29, 'Skagit', 'North Sound', 74.86)
(30, 'Skamania', 'Southwest Washington', 7.0)
(31, 'Snohomish', 'North Sound', 396.81)
(32, 'Spokane', 'Better Health Together, Greater Health Now', 305.71)
(33, 'Stevens', 'Better Health Together', 18.75)
(34, 'Thurston', 'Cascade Pacific Action Alliance', 408.02)
(35, 'Wahkiakum', 'Southwest Washington', 16.82)
(36, 'Walla Walla', 'Unassigned', 49.28)
(37, 'Whatcom', 'North Sound', 107.62)
(38, 'Whitman', 'Unassigned', 22.22)
(39, 'Yakima', 'Elevate Health', 59.78)

In [25]:
# Table 2
cur.execute("SELECT * FROM temporal LIMIT 30;")
rows = cur.fetchall()
print("Rows:")
for row in rows:
    print(row)

Rows:
(202340, datetime.date(2023, 10, 1), datetime.date(2023, 10, 7), '2023-2024')
(202341, datetime.date(2023, 10, 8), datetime.date(2023, 10, 14), '2023-2024')
(202342, datetime.date(2023, 10, 15), datetime.date(2023, 10, 21), '2023-2024')
(202343, datetime.date(2023, 10, 22), datetime.date(2023, 10, 28), '2023-2024')
(202344, datetime.date(2023, 10, 29), datetime.date(2023, 11, 4), '2023-2024')
(202345, datetime.date(2023, 11, 5), datetime.date(2023, 11, 11), '2023-2024')
(202346, datetime.date(2023, 11, 12), datetime.date(2023, 11, 18), '2023-2024')
(202347, datetime.date(2023, 11, 19), datetime.date(2023, 11, 25), '2023-2024')
(202348, datetime.date(2023, 11, 26), datetime.date(2023, 12, 2), '2023-2024')
(202349, datetime.date(2023, 12, 3), datetime.date(2023, 12, 9), '2023-2024')
(202350, datetime.date(2023, 12, 10), datetime.date(2023, 12, 16), '2023-2024')
(202351, datetime.date(2023, 12, 17), datetime.date(2023, 12, 23), '2023-2024')
(202352, datetime.date(2023, 12, 24), datetime.date(2023, 12, 30), '2023-2024')
(202401, datetime.date(2023, 12, 31), datetime.date(2024, 1, 6), '2023-2024')
(202402, datetime.date(2024, 1, 7), datetime.date(2024, 1, 13), '2023-2024')
(202403, datetime.date(2024, 1, 14), datetime.date(2024, 1, 20), '2023-2024')
(202404, datetime.date(2024, 1, 21), datetime.date(2024, 1, 27), '2023-2024')
(202405, datetime.date(2024, 1, 28), datetime.date(2024, 2, 3), '2023-2024')
(202406, datetime.date(2024, 2, 4), datetime.date(2024, 2, 10), '2023-2024')
(202407, datetime.date(2024, 2, 11), datetime.date(2024, 2, 17), '2023-2024')
(202408, datetime.date(2024, 2, 18), datetime.date(2024, 2, 24), '2023-2024')
(202409, datetime.date(2024, 2, 25), datetime.date(2024, 3, 2), '2023-2024')
(202410, datetime.date(2024, 3, 3), datetime.date(2024, 3, 9), '2023-2024')
(202411, datetime.date(2024, 3, 10), datetime.date(2024, 3, 16), '2023-2024')
(202412, datetime.date(2024, 3, 17), datetime.date(2024, 3, 23), '2023-2024')
(202413, datetime.date(2024, 3, 24), datetime.date(2024, 3, 30), '2023-2024')
(202414, datetime.date(2024, 3, 31), datetime.date(2024, 4, 6), '2023-2024')
(202415, datetime.date(2024, 4, 7), datetime.date(2024, 4, 13), '2023-2024')
(202416, datetime.date(2024, 4, 14), datetime.date(2024, 4, 20), '2023-2024')
(202417, datetime.date(2024, 4, 21), datetime.date(2024, 4, 27), '2023-2024')

In [26]:
# Table 3
cur.execute("SELECT * FROM illness LIMIT 30;")
rows = cur.fetchall()
print("Rows:")
for row in rows:
    print(row)

Rows:
(202340, 32, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 33, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 26, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 10, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 32, 'COVID-19', 'Emergency Visits', 2.7, 1.05265, 1.64735)
(202340, 33, 'COVID-19', 'Emergency Visits', 2.7, 1.05265, 1.64735)
(202340, 26, 'COVID-19', 'Emergency Visits', 2.7, 1.05265, 1.64735)
(202340, 10, 'COVID-19', 'Emergency Visits', 2.7, 1.05265, 1.64735)
(202340, 34, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 23, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 14, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 25, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 21, 'COVID-19', 'Hospitalizations', 3.8, 1.05265, 2.74735)
(202340, 34, 'COVID-19', 'Emergency Visits', 2.5, 1.05265, 1.44735)
(202340, 23, 'COVID-19', 'Emergency Visits', 2.5, 1.05265, 1.44735)
(202340, 14, 'COVID-19', 'Emergency Visits', 2.5, 1.05265, 1.44735)
(202340, 25, 'COVID-19', 'Emergency Visits', 2.5, 1.05265, 1.44735)
(202340, 21, 'COVID-19', 'Emergency Visits', 2.5, 1.05265, 1.44735)
(202340, 39, 'COVID-19', 'Hospitalizations', 2.3, 1.05265, 1.2473499999999997)
(202340, 19, 'COVID-19', 'Hospitalizations', 2.3, 1.05265, 1.2473499999999997)
(202340, 39, 'COVID-19', 'Emergency Visits', 2.4, 1.05265, 1.3473499999999998)
(202340, 19, 'COVID-19', 'Emergency Visits', 2.4, 1.05265, 1.3473499999999998)
(202340, 17, 'COVID-19', 'Hospitalizations', 2.4, 1.05265, 1.3473499999999998)
(202340, 17, 'COVID-19', 'Emergency Visits', 2.3, 1.05265, 1.2473499999999997)
(202340, 37, 'COVID-19', 'Hospitalizations', 2.9, 1.05265, 1.8473499999999998)
(202340, 29, 'COVID-19', 'Hospitalizations', 2.9, 1.05265, 1.8473499999999998)
(202340, 31, 'COVID-19', 'Hospitalizations', 2.9, 1.05265, 1.8473499999999998)
(202340, 28, 'COVID-19', 'Hospitalizations', 2.9, 1.05265, 1.8473499999999998)
(202340, 15, 'COVID-19', 'Hospitalizations', 2.9, 1.05265, 1.8473499999999998)
(202340, 37, 'COVID-19', 'Emergency Visits', 2.8, 1.05265, 1.7473499999999997)

In [27]:
# Table 4
cur.execute("SELECT * FROM healthcare LIMIT 30;")
rows = cur.fetchall()
print("Rows:")
for row in rows:
    print(row)

Rows:
(1, 10.71, 0.0, 0.0, 0.0)
(2, 35.04, 0.0, 0.0, 0.0)
(3, 121.68, 0.0, 0.0, 0.0)
(4, 27.09, 2.0120481927710845, 1.9375, 1.0384764865915275)
(5, 44.37, 2.167415730337079, 1.6653333333333333, 1.3014906307068128)
(6, 800.82, 1.9853658536585368, 1.8857142857142857, 1.0528455284552847)
(7, 4.55, 0.0, 0.0, 0.0)
(8, 97.03, 1.9853658536585368, 1.8857142857142857, 1.0528455284552847)
(9, 23.6, 2.0120481927710845, 1.9375, 1.0384764865915275)
(10, 3.26, 2.2242105263157894, 2.012987012987013, 1.1049303904923597)
(11, 77.92, 0.0, 0.0, 0.0)
(12, 3.22, 0.0, 0.0, 0.0)
(13, 36.99, 2.0120481927710845, 1.9375, 1.0384764865915275)
(14, 39.78, 2.2057471264367816, 2.010958904109589, 1.0968633530646121)
(15, 416.63, 1.9337499999999999, 1.9126582278481012, 1.0110274652547981)
(16, 18.28, 2.167415730337079, 1.6653333333333333, 1.3014906307068128)
(17, 1073.02, 1.537837837837838, 1.9223684210526315, 0.7999704016131122)
(18, 697.57, 2.167415730337079, 1.6653333333333333, 1.3014906307068128)
(19, 20.23, 1.5466666666666666, 1.8873239436619718, 0.819502487562189)
(20, 12.15, 1.9853658536585368, 1.8857142857142857, 1.0528455284552847)
(21, 34.19, 2.2057471264367816, 2.010958904109589, 1.0968633530646121)
(22, 4.71, 0.0, 0.0, 0.0)
(23, 68.5, 2.2057471264367816, 2.010958904109589, 1.0968633530646121)
(24, 8.0, 2.0120481927710845, 1.9375, 1.0384764865915275)
(25, 25.03, 2.2057471264367816, 2.010958904109589, 1.0968633530646121)
(26, 9.57, 2.2242105263157894, 2.012987012987013, 1.1049303904923597)
(27, 551.81, 0.0, 0.0, 0.0)
(28, 102.28, 1.9337499999999999, 1.9126582278481012, 1.0110274652547981)
(29, 74.86, 1.9337499999999999, 1.9126582278481012, 1.0110274652547981)
(30, 7.0, 1.9853658536585368, 1.8857142857142857, 1.0528455284552847)

In [28]:
# Table 5
cur.execute("SELECT * FROM historics LIMIT 30;")
rows = cur.fetchall()
print("Rows:")
for row in rows:
    print(row)

Rows:
(2020, 2020, 202001, 7.13863, 1.8131246981132074, 5.325505301886793)
(2021, 2020, 202152, 2.68772, 1.0538401346153845, 1.6338798653846156)
(2022, 2020, 202247, 12.9332, 2.751608, 10.181591999999998)
(2023, 2020, 202352, 3.91859, 1.4103662692307692, 2.508223730769231)
(2024, 2020, 202452, 6.61882, 1.588272, 5.0305480000000005)

In [ ]:
# Close Connection
#conn.commit()
cur.close()
conn.close()